#Show
{
	background-color: rgba(0, 0, 0, 0.4);  
	height: 20rem;
	width: 20rem;
	float: left;
	margin: 1rem
}

.content
{
  display: flex;
}

.content img
{
  margin-right: 10px;
  display: block;
}

.content h3,
.content p {margin: 0;}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
}

.header
{
	background-color: rgba(0, 0, 0, 0.4);
	height: 3rem;
	width: 375px;
	float: right;
}

.title
{
	font-weight: bold;
	font-size: 3rem;
	color: white;	
}

img
{
	border-width: 5px;
	border-style: solid;
	border-color: white;
}

body 				
{
	background-image: url("../images/background2.png");
	background-repeat: repeat-y;
	background-size: 100%;
}	

a:link  
                   
{
	color: white;
	background-color: transparent;
	text-decoration: none;
		
}	

a:visited

{
	color: rgb(119, 254, 246); 
	background-color: transparent;
	text-decoration: none;
}
	